<% content_for :title do %>Cisco ACI Dashboard<% end %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
   google.load("visualization", "1", {packages:["corechart"]});
</script>
<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [280, 300]
  Dashing.numColumns = 5
});
</script>
<script type='text/javascript'> $(function() { Dashing.gridsterLayout('[{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":2,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":2,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":2,"size_y":1},{"col":4,"row":3,"size_x":2,"size_y":1}]') }); </script>


<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ep_chart" data-view="GooglePie"  data-title="Endpoint Types"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="latest_endpoints" data-view="List" data-unordered="true" data-title="Newest Endpoints"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="apic_endpoints" data-view="Number" data-title="Endpoints" data-moreinfo="Endpoints attached to fabric"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="apic_freeports" data-view="Number" data-title="Free ports" data-moreinfo="Unused interfaces"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="apic_actrlrule" data-view="Number" data-title="ACL Rules" data-moreinfo="Programmed ACL Rules"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="apic_packets_tx" data-view="Number" data-title="TX" data-moreinfo="Fabric Bytes Per Second TX"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="apic_packets_rx" data-view="Number" data-title="RX" data-moreinfo="Fabric Bytes Per Second RX"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="apic_health" data-view="GraphHealth" data-title="Fabric Health" data-moreinfo="Overall Fabric Healthscore"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="apic_unreachable_switch" data-view="NumberHealth" data-title="Switches Down" data-moreinfo="Unreachable Nodes" data-url="https://172.26.19.7/#c:a.1|root|fabricUnreachableNodes"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="apic_thrupt" data-view="Graph" data-title="Fabric Throughput" data-moreinfo="Total Sent and Received Fabric Bytes Per Second"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="ACI Dashboard" data-text="Welcome to an ACI Dashboard based on Dashing and the ACI Ruby library." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

  </ul>
</div>
